#proyectos {
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.4)), url("/img/proyectos.jpg");
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid red;
    height: 100vh;
}